<body>
<h1>Create new item</h1>

<form method="POST" action="/items/create">
  <input name="name" type="text" placeholder="Item name">
  <input name="price" type="text" placeholder="Item price">
  <select name="category_name">
    <option>None</option>
    <% categories.each do |category| %>
      <option><%= category.name %></option>
    <% end %>
  </select>
  <button type="submit">Add Item</button>
</form>
</body>