<body>
<h1>Create new item</h1>

<form method="POST" action="/items/create">
  <input name="name" type="text" placeholder="Item name">
  <input name="price" type="text" placeholder="Item price">
  <select name="category_name">
    <option>Main Dish</option>
    <option>Dessert</option>
    <option>Beverage</option>>
    <option>None</option>
  </select>
  <button type="submit">Add Item</button>
</form>
</body>